[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
celery = "*"
python-dotenv = "*"
redis = "*"
rabbitmq = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
pymssql = "*"
mysqlclient = "*"
psycopg2 = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
